*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Courgette ;
    background-color: #f5f5f5;
    
}

header {
    text-align: center;
    margin: 50px;
}

header h2 {
    color: darkred;
    position: relative;
    left: 80px;
    text-transform: uppercase;
}

.main-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.main-content .section-general {
    max-width: 360px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #ffffff;
}

.main-content .section-general img{
    max-height: 50%;
    width: 100%;
    object-fit: cover;
}

.main-content .section-general h3 {
    padding: 10px;
    font-size: 24px;
    width: 90%;
    border-bottom: 1px solid rgb(214, 8, 8);
    text-align: center;
}

.main-content .section-general p {
    padding: 12px;
    text-align: center;
}

.main-content .section-general a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 10px;
}

.main-content .section-general i{
    color: darkred;
    font-size: 18px;
    margin-left: 6px;
}

.main-content .section-general a :hover{
    opacity: 0.7;
}