@import url(https://fonts.googleapis.com/css2?family=Mulish&display=swap);
body, html {
    height: 100%;
    box-sizing: border-box;
  }


.registration-section {
    background-image: url("background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inside-container {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .container-header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


.inside-container .content {
    position: absolute;
    top: 60px;
    left: 40px;
    border: 1px solid black;
    width: 500px;
    height: 90%;
    padding: 10px;

}

.boxes {
    display: flex;
    flex-direction: row;

}

.inside-container .input-container {
    width: 200px;
    height: 35px;
    border: 1px solid red;
    border-radius: 50px;
}

