* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}


ul {
    display: flex;
    max-width: 75vw;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}


li{
    list-style-type: none;
    background-color: white;
    border: 5px solid black;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li img{
    width: 110px;
}