* {
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
}


.container {
    display: flex;
    max-width: 70vw;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


span{
    background-color: white;
    border: 5px solid black;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

span img{
    width: 110px;
}