body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

article {
    display: inline-block;
    width: 70%;
    margin: 10px;
}

aside {
    display: inline-block;
    position: absolute;
    margin-right: 300px;
}

img {
    width: 80%;
}

li {
    list-style: square;
}
